#container {
    display: grid; 
    grid-template-columns: 1fr, 1fr, 1fr; 
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-template-areas: 
        "titlebar titlebar titlebar" 
        "sidebar main main"
        "footer footer footer"; 
}

#titlebar {
    grid-area: titlebar;
    background-color: rgb(108, 248, 248);
    color: black;
}

#main {
    grid-area: main; 
    background-color: silver; 
    color: white; 
}


#sidebar {
    grid-area: sidebar; 
    background-color: rgb(24, 80, 80); 
    color: white; 
}

#footer {
    grid-area: footer;
    background-color: rgb(108, 248, 248);  
    color: black; 
}

div {
    text-align: center; 
    font-size: 60px; 
}